body {
  font-family: Helvetica;
}

.title-header {
  background-color: rgb(26, 26, 255);
  color: white;
  padding: 20px 40px;
}

.ovos-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ovo {
  margin: 20px;
  cursor: pointer;
}

