* {
    font-family: Arial, Helvetica, sans-serif;
}

#escapeRoom {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.card {
    background-color: #e6a2cb;
    padding: 1rem;
    width: fit-content;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
}

.card span {
    border: 2px solid black;
    padding: 0.5rem;
    cursor: pointer;
    width: 10rem;
    text-align: center;
    background-color: #ffffff;
    border-radius: 20px;
}

.card span:hover {
    box-shadow:  2px 2px 2px rgb(0, 0, 0);;
}

h3, p {
    margin: 0.5rem 0rem;
}

.card img {
    margin: 0.5rem 0rem;
    align-self: center;
    object-fit: cover;
    max-height: 300px;
    width: -webkit-fill-available;
}

